$orange:     #E65C43;
$white:      #fff;
$gray:       #666;
$greybar:    #F5F6F6;
$footer:     #30353D;

$bg: '../images/bg.gif';
$devices: '../images/devices.png';
$logo: '../images/logo.png';
$socialMedia: '../images/social-media.png';
$vconvert: '../images/vconvert.png';
$vprospect: '../images/vprospect.png';

$font: 'Roboto';

